
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      # Check for updates on the first Sunday of every month, 8PM UTC
      interval: "cron"
      cronjob: "0 20 * * sun#1"
